@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
*{ 
    padding: 0px; 
    margin: 0px;
}
#body{ /*width is used to make the body cover the whole webpage*/
    background-color: #b99d72; 
    width: 100%; 
}
.navbar{ /*width is used to make the footer cover the whole top of the page*/
    background-color: #97825d;
    height: 50px;
    width: 100%;
}
.logo{ /*object fit allows the logo image to fit it's container or border*/
    background-color: #97825d;
    object-fit: cover;
    display: inline-block;
    margin-left: 1%;
    top: 3%;
}
#teddy{
    border-radius: 50%;
    width: 40px;
}
#linksgroup{
    float: right;
    background-color: #97825d;
}
.links{ /*heavy value of font weight in order for the text to be clearer and readable*/
    background-color: #97825d;
    display: inline-block;
    font-weight: 300;
    font-size: x-large;
}
.links a{
    text-decoration: none;
    border-radius: 40%;
    padding: 5px;
    background-color: #D0AF7A;
    color: black;
}
#home{
    padding: 10px;
}
#studybg{
    padding: 10px;
}
#mcc{
    padding: 10px;
}
#ref{
    padding: 10px;
}
.headertext{
    font-family: 'Comfortaa', cursive;
    top: 30%;
    position: absolute;
}
.headertext h2{
    font-size: 4lh;
}
.headertext span{
    color: #9A764B;
}
#himg{
    float: right;
    width: 25vw;
    height: 27vw;
    margin-top: 8%;
    margin-right: 3%;
}
.fb{ /*width is used to make the footer cover the whole bottom of the page*/
    position: fixed;
    bottom: 0;
    background-color: #97825d;
    height: 50px;
    width: 100%;
}
.fbelem{
    float: right;
    display: inline-block;
    margin: 5px;
    top: 2%;
    margin-left: 1%;
    object-fit: cover;
}
.abtmeelem{/*heavy value of font weight in order for the text to be clearer and readable*/
    font-weight: 300;
    font-size: x-large;
    float: right;
    display: inline-block;
    top: 2%;
    margin-left: 1%;
}
.abtmeelem a{
    border-radius: 40%;
    text-decoration: none;
    padding: 5px;
}
#copyright{
    float: left;
}
#imgs2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#abtme{
    padding: 10px;
}
#abtme a{ 
    color: black;
    background-color: #D0AF7A;
}
.stdheadertext{
    float: right;
    margin-top: 2%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.stdheadertext h2{
    font-size: 4em;
    color: #EBCE9F;
}
#teddyback{
    margin-top: 3%;
    margin-left: 4%;
    float: left;
    width: 20em;
    height: 30em;
}
.mccheaderframe{
    float: right;
    margin-top: 1%;
    margin-right: 8%;
}
.mccheadertext1{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
#mccdesc{
    margin-left: 2%;
    margin-top: 1%;
}
#mccdesc h2{
    font-size: xx-large;
    color: #EBCE9F;
}
.mccheadertext2{
    float: right;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
#mcccon{ /*Heavy positioning used to put the text on the bottom right using top and left*/
    position: absolute;
    top: 60%;
    left: 47%;
}
#mcccon h2{
    font-size: xx-large;
    color: #EBCE9F;
}
.refheadertext{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-top: 1%;
}
.refheadertext h1{
    color: #EBCE9F;
}
.refheadertext p{
    text-align: left;
    margin-left: 12%;
}
#thisisme{ /*auto margins from left and right align the image to the middle*/
    width: 30em;
    height: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.abtmeheadertext{
   text-align: center;
   font-family: 'Comfortaa', cursive;
}
.abtmeheadertext span{
    text-decoration: underline;
}
